@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Julius+Sans+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('/b.jpg'); /* Update the path accordingly */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 300px; /* Prevent image repetition */
}

#blocka {
  background: linear-gradient(to right, #8B0000, #FFD700); /* Dark Red to Light Goldish Brown gradient */
}

/* styles.css */

#mess {

  color: #DAA520; /* Light Goldish Brown text color */
  padding: 20px; /* Add padding for better visibility of content */
}
